<header class="header">
    <div class="ui-width header-wrap">
        <div class="filter-search">
            <input type="text" id="f-input" class="f-input placeholder-con" placeholder="搜索商户或商品" value="">
            <button id="f-search" class="f-search"></button>
        </div>
        <nav>
            <ul class="nav">
                <li class="nav-item nav-item-active" id="find">
                    <a href="/" class="nav-item-link">外卖</a>
                </li>
                <li class="nav-item " id="order">
                    <a href="/" class="nav-item-link">我的订单</a>
                </li>
            </ul>
        </nav>
        <div id="user_info" class="user-info-widget" style="1px solid blue;">
            <div id="login_user_info" style="">
                <ul class="login_info">
                    <li id="usernameInfo" class="uname mn-lk-w">
                        <a id="username" class="mn-lk" href="">你好，执笔_love</a>
                    </li>
                </ul>
            </div>
            <div id="logout_user_info" style="display: none;">
                <ul class="logout_info">
                    <li>
                        <a id="login" href="/login">&nbsp;登录</a>
                    </li>
                    <li>
                        <a id="logout_user_register" href="/register">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>