<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- %c 输出日志信息所属的类的全名 %d 输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如： %d{yyy-MM-dd 
	HH:mm:ss }，输出类似：2002-10-18- 22：10：28 %f 输出日志信息所属的类的类名 %l 输出日志事件的发生位置，即输出日志信息的语句处于它所在的类的第几行 
	%m 输出代码中指定的信息，如log(comment)中的message %n 输出一个回车换行符，Windows平台为“rn”，Unix平台为“n”
	%p 输出优先级，即DEBUG，INFO，WARN，ERROR，FATAL。如果是调用debug()输出的，则为DEBUG，依此类推 %r 输出自应用启动到输出该日志信息所耗费的毫秒数 
	%t 输出产生该日志事件的线程名 -->
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} - %m (%F:%L) %n"/>
        </layout>

        <!--限制输出级别 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="TRACE"/>
        </filter>
    </appender>

    <appender name="DAILYFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/leibees/lei.log"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd-HH'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d {%m} (%l) %n"/>
        </layout>
    </appender>


    <!--通过<logger></logger>的定义可以将各个包中的类日志输出到不同的日志文件中 -->
    <logger name="org" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="net" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="school" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="DAILYFILE" />-->
    </root>
</log4j:configuration> 