<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线点餐</title>
    <link rel="stylesheet" href="/themes/front/home.css">
</head>
<body style="">

<div class="wrapper">

    <div class="page-header clearfix">
        <div class="top-nav">
            <div class="topnav-wrap">
                <div class="fr welcome">
    <span id="dis-login" class="top-disloginbar fl">
        <a class="j-register register-btn fl">注册</a>
        <span class="lg-divide fl">|</span>
        <a class="j-login login-btn fl">登录</a>
    </span>
                </div>


            </div>
        </div>
        <div class="middle-nav">
            <div class="middlenav-wrap clearfix">

                <div class="desire fl">
                    <a href="#" class="ca-lightgrey"><span>首页</span></a>
                    <a href="#" class="ca-lightgrey" rel="nofollow"><span>我的订单</span></a>
                </div>
                <div class="search-box fr">
                    <input type="text" class="header-search fl" placeholder="搜索商家，美食">
                    <a href="javascript:;" class="doSearch fr"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrap">
        <div class="inner-wrap">
            <div class="inner-bg">
                <div class="rest-banner">
                    <div class="imgsort-wrapper">
                        <span class="imgsort-filter-title">商家分类</span>
                        <ul class="clearfix imgsort-content">
                            <li class="fl selected">
                                <a href="#" data-cate="cate_all"
                                   class="imgsort-list" title="全部">
                                    <span class="imgsort-info">全部</span>
                                </a>
                            </li>
                            <li class="fl ">
                                <a class="imgsort-list" title="美食"
                                   href="#" data-cate="910">
                                    <span class="imgsort-info">美食</span>
                                </a>
                            </li>
                            <li class="fl">
                                <a class="imgsort-list" title="正餐优选"
                                   href="#" data-cate="950">
                                    <span class="imgsort-info">正餐优选</span>
                                </a>
                            </li>
                            <li class="fl">
                                <a class="imgsort-list" title="超市" href="#"
                                   data-cate="20">
                                    <span class="imgsort-info">超市</span>
                                </a>
                            </li>
                            <li class="fl">
                                <a class="imgsort-list" title="精选小吃"
                                   href="#" data-cate="100180">
                                    <span class="imgsort-info">精选小吃</span>
                                </a>
                            </li>
                            <li class="fl">
                                <a class="imgsort-list" title="鲜果购"
                                   href="#" data-cate="21">
                                    <span class="imgsort-info">鲜果购</span>
                                </a>
                            </li>
                            <li class="fl">
                                <a class="imgsort-list" title="下午茶"
                                   href="#" data-cate="940">
                                    <span class="imgsort-info">下午茶</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="divider"></div>

                </div>
                <div class="rest-list">
                    <ul class="list clearfix">
                        <li class="fl rest-li">
                            <div class="j-rest-outer rest-outer transition">
                                <div data-title="比萨到(常营店)"
                                     data-bulletin="各位小主，我们标配餐具是手套哦，如需其他餐具可在备注里添加哦。目前营业时间为早9:00-夜间02:00。给您带来的不便敬请谅解。最新推出：外带比萨馅料双倍不加价的活动，双倍馅料更美味，详情可到店咨询或人工客服哦~"
                                     class="restaurant">
                                    <a class="rest-atag" href="#"
                                       target="_blank" data-pos="1">
                                        <div class="top-content">
                                            <div class="preview">
                                                <img class="scroll-loading"
                                                     src="/themes/front/image/f759d7c09982a7c64be03c30c39da4ed440805.png"
                                                     data-max-width="208" data-max-height="156">
                                                <div class="rest-tags"></div>
                                            </div>
                                            <div class="content">
                                                <div class="name">
                                                    <span>比萨到(常营店)</span>
                                                </div>
                                                <div class="rank clearfix">
                  <span class="star-ranking fl">
                    <!-- 5颗星60px长度，算此时星级的长度 -->
                      <!-- 算出空白填充的部分长度 -->
                    <span class="star-score" style="width: 71px"></span></span>
                                                    <span class="score-num fl">4.9分</span>
                                                </div>
                                                <div class="price">
                                                    <span class="start-price">起送:￥0</span>
                                                    <span class="send-price">配送费:￥7</span>
                                                    <span class="send-time"><i class="icon i-poi-timer"></i>30分钟</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="fl rest-li">
                            <div class="j-rest-outer rest-outer transition">
                                <div data-title="比萨到(常营店)"
                                     data-bulletin="各位小主，我们标配餐具是手套哦，如需其他餐具可在备注里添加哦。目前营业时间为早9:00-夜间02:00。给您带来的不便敬请谅解。最新推出：外带比萨馅料双倍不加价的活动，双倍馅料更美味，详情可到店咨询或人工客服哦~"
                                     class="restaurant">
                                    <a class="rest-atag" href="#"
                                       target="_blank" data-pos="1">
                                        <div class="top-content">
                                            <div class="preview">
                                                <img class="scroll-loading"
                                                     src="/themes/front/image/f759d7c09982a7c64be03c30c39da4ed440805.png"
                                                     data-max-width="208" data-max-height="156">
                                                <div class="rest-tags"></div>
                                            </div>
                                            <div class="content">
                                                <div class="name">
                                                    <span>比萨到(常营店)</span>
                                                </div>
                                                <div class="rank clearfix">
                  <span class="star-ranking fl">
                    <!-- 5颗星60px长度，算此时星级的长度 -->
                      <!-- 算出空白填充的部分长度 -->
                    <span class="star-score" style="width: 71px"></span></span>
                                                    <span class="score-num fl">4.9分</span>
                                                </div>
                                                <div class="price">
                                                    <span class="start-price">起送:￥0</span>
                                                    <span class="send-price">配送费:￥7</span>
                                                    <span class="send-time"><i class="icon i-poi-timer"></i>30分钟</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="fl rest-li">
                            <div class="j-rest-outer rest-outer transition">
                                <div data-title="比萨到(常营店)"
                                     data-bulletin="各位小主，我们标配餐具是手套哦，如需其他餐具可在备注里添加哦。目前营业时间为早9:00-夜间02:00。给您带来的不便敬请谅解。最新推出：外带比萨馅料双倍不加价的活动，双倍馅料更美味，详情可到店咨询或人工客服哦~"
                                     class="restaurant">
                                    <a class="rest-atag" href="#"
                                       target="_blank" data-pos="1">
                                        <div class="top-content">
                                            <div class="preview">
                                                <img class="scroll-loading"
                                                     src="/themes/front/image/f759d7c09982a7c64be03c30c39da4ed440805.png"
                                                     data-max-width="208" data-max-height="156">
                                                <div class="rest-tags"></div>
                                            </div>
                                            <div class="content">
                                                <div class="name">
                                                    <span>比萨到(常营店)</span>
                                                </div>
                                                <div class="rank clearfix">
                  <span class="star-ranking fl">
                    <!-- 5颗星60px长度，算此时星级的长度 -->
                      <!-- 算出空白填充的部分长度 -->
                    <span class="star-score" style="width: 71px"></span></span>
                                                    <span class="score-num fl">4.9分</span>
                                                </div>
                                                <div class="price">
                                                    <span class="start-price">起送:￥0</span>
                                                    <span class="send-price">配送费:￥7</span>
                                                    <span class="send-time"><i class="icon i-poi-timer"></i>30分钟</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="fl rest-li">
                            <div class="j-rest-outer rest-outer transition">
                                <div data-title="比萨到(常营店)"
                                     data-bulletin="各位小主，我们标配餐具是手套哦，如需其他餐具可在备注里添加哦。目前营业时间为早9:00-夜间02:00。给您带来的不便敬请谅解。最新推出：外带比萨馅料双倍不加价的活动，双倍馅料更美味，详情可到店咨询或人工客服哦~"
                                     class="restaurant">
                                    <a class="rest-atag" href="#"
                                       target="_blank" data-pos="1">
                                        <div class="top-content">
                                            <div class="preview">
                                                <img class="scroll-loading"
                                                     src="/themes/front/image/f759d7c09982a7c64be03c30c39da4ed440805.png"
                                                     data-max-width="208" data-max-height="156">
                                                <div class="rest-tags"></div>
                                            </div>
                                            <div class="content">
                                                <div class="name">
                                                    <span>比萨到(常营店)</span>
                                                </div>
                                                <div class="rank clearfix">
                  <span class="star-ranking fl">
                    <!-- 5颗星60px长度，算此时星级的长度 -->
                      <!-- 算出空白填充的部分长度 -->
                    <span class="star-score" style="width: 71px"></span></span>
                                                    <span class="score-num fl">4.9分</span>
                                                </div>
                                                <div class="price">
                                                    <span class="start-price">起送:￥0</span>
                                                    <span class="send-price">配送费:￥7</span>
                                                    <span class="send-time"><i class="icon i-poi-timer"></i>30分钟</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="rest-separate j-rest-separate"></li>
                        <li class="fl rest-li">
                            <div class="j-rest-outer rest-outer transition">
                                <div data-title="比萨到(常营店)"
                                     data-bulletin="各位小主，我们标配餐具是手套哦，如需其他餐具可在备注里添加哦。目前营业时间为早9:00-夜间02:00。给您带来的不便敬请谅解。最新推出：外带比萨馅料双倍不加价的活动，双倍馅料更美味，详情可到店咨询或人工客服哦~"
                                     class="restaurant">
                                    <a class="rest-atag" href="#"
                                       target="_blank" data-pos="1">
                                        <div class="top-content">
                                            <div class="preview">
                                                <img class="scroll-loading"
                                                     src="/themes/front/image/f759d7c09982a7c64be03c30c39da4ed440805.png"
                                                     data-max-width="208" data-max-height="156">
                                                <div class="rest-tags"></div>
                                            </div>
                                            <div class="content">
                                                <div class="name">
                                                    <span>比萨到(常营店)</span>
                                                </div>
                                                <div class="rank clearfix">
                  <span class="star-ranking fl">
                    <!-- 5颗星60px长度，算此时星级的长度 -->
                      <!-- 算出空白填充的部分长度 -->
                    <span class="star-score" style="width: 71px"></span></span>
                                                    <span class="score-num fl">4.9分</span>
                                                </div>
                                                <div class="price">
                                                    <span class="start-price">起送:￥0</span>
                                                    <span class="send-price">配送费:￥7</span>
                                                    <span class="send-time"><i class="icon i-poi-timer"></i>30分钟</span>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>