<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>在线点餐</title>
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/main_a79c03f.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/cartAlert_69d76b3.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/common_4840c98.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/citybar_2daccc1.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/landing_26d4e9b.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/muti_60d05dd.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/registerDialog_77e55d3.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/userInfo_11c5a6b.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/search_cae56fa.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/addressEditDialog_be19f67.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/search_b1f3d15.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/nav_92fb35c.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/shoplist_b2c246e.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/shopcard_93f9a30.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/dishcard_d331747.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/backtop_e064524.css">
    <link rel="stylesheet" type="text/css" href="/themes/front/index_files/footer_bf9a09d.css">

</head>
<body>
<#include "include/header.html"/>

<div id="content" class="clearfix" style="min-height: 610px;">
    <style type="text/css">
        /*widget.sg*/
        input::-ms-clear {
            display: none;
        }

        .filter-search .f-input {
            line-height: 30px;
        }
    </style>

    <div class="main">
        <div class="filter-category clearfix">
            <div class="acrossLine"></div>
            <ul class="clearfix">
                <li class="active">菜品分类</li>
            </ul>
        </div>
        <section id="f_panel" class="filter-section clearfix">
            <div class="filter-up clearfix">
                <ul class="filter-cates clearfix">
                    <li class="cate-item  item-index-0" data-id="0" data-name="全部">
                        <div class="item-text">全部</div>
                    </li>
                    <li class="cate-item  item-index-1 f-selected" data-id="17" data-name="快食简餐">

                        <div class="item-text">快食简餐</div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="shop-list" id="shop-list">
            <div class="list-wrap">
                <div class="list clearfix">
                    <ul class="shopcards-list">
                        <li class="list-item shopcard  online">
                            <div class="shopimg">
                                <img width="228" height="140" alt="DQ冰淇淋（合生汇店）"
                                     src="http://img.waimai.baidu.com/pb/f87d340e58ad3905d5fef6026fdac6cdc3">
                            </div>
                            <div class="title" title="DQ冰淇淋（合生汇店）"> DQ冰淇淋<span class="cert-icon"><img
                                    src="/themes/front/index_files/certificated_s.png"></span>
                            </div>
                            <div class="info s-info clearfix">
                                <div class="f-col f-star star-control" data-star="4.8"><span class="rate">                    <span
                                        class="rate-inner" style="width:69.12px"></span>                </span></div>
                                <div class="f-col f-sale"> 合生汇店</div>
                            </div>
                            <div class="info f-info clearfix">
                                <div class="f-col f-price"><span class="item-label">售价:</span> <span class="item-value">¥20</span>
                                </div>
                                <div class="f-col f-cost"><span class="item-label">配送:</span> <span class="item-value">¥6</span>
                                </div>
                                <div class="f-col f-time"> 44分钟</div>
                            </div>
                            <div class="feature"></div>
                        </li>
                    </ul>
                </div>
                <div class="loading hide">
                    <img src="/themes/front/index_files/load-more_3e34c85.gif" width="32" height="32">
                </div>
            </div>
        </section>

    </div>

</div>
</body>
</html>