<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.eat.order.mapper.OrderItemMapper">

    <select id="selectModel" resultType="edu.eat.order.model.OrderItemModel">
        SELECT o.*,
        f.id foodid,
        f.`name` foodname,f.icon foodicon ,
        f.price foodprice
        FROM order_item o
        LEFT JOIN food f on f.id = o.food_id
       <include refid="BaseMapper.Example_Where_Clause"/>
        <include refid="BaseMapper.Order_Sql_Clause"/>
    </select>
</mapper>